{% extends 'admin_staff/base.html' %}
{% load static %}


{% block content %}
<div class="row text-center">
    <p> Вы действительно хотите удалить категорию - {{ category.name }} ?</p>
    <form class="form-horizontal"
          action="{% url 'admin_staff:category_delete' category.pk %}"
          method="post"
          enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <input class="btn btn-danger m-3 col-2" type="submit" value="Удалить">
    </form>
    <a href="{% url 'admin_staff:categories' %}">
        <button class="btn btn-round btn-success col-2">
            Отмена
        </button>
    </a>
</div>
{% endblock %}
